body.container{
    width: 100%;
    margin: 0;
    max-width: 2048px;
}
body.container .upload{
    max-width: 512px !important;
}
.upload .row{
    margin: 10px;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
h3{
	text-align: center;
	padding: 5px;
}
.activities {
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 2px 10px;
	border: 1px solid #000000;
	font-size: 12px;
	width: 50%;
	background-color: #8cb3d9;
	opacity: 0.8;
	color: #000000;
}
.activities:hover{
	opacity: 0;
}
.carlist:hover{
	background-color: grey;
}

.car-action{
	padding: 0px 2px 0px 2px;
}

.garage{
	border: 1px solid #cacaca;
}
.garage-top{
	border-bottom: 0px;
}
.garage-middle{
	border-bottom: 0px;
	border-top: 0px;
}
.garage-bottom{
	border-top: 0px;
}
.garage-head{
	background: linear-gradient(#b2d6ff, #ffffff);
	height: 30px;
	text-align: center;
}
.car:hover{
	background-color: #ededed;
}
.car img{
	width: 20px;
}
.car img:hover{
	cursor:pointer;
}
.car-show {
    margin: 4px;
    text-align: center;
}
.modal .modal-collections{
    max-width: 95%;
    width: 95%;
    margin: auto;
}
.car-show:hover{
    cursor: pointer;
}
.car-show img{
    width: 100%;
    border-radius: 4px;
}
.bottom {
    margin-bottom: 20px;
}
.v-center{
    margin-top: auto;
    margin-bottom: auto;
}
.userid{
    font-style: italic;
}
.add-fusion{
    width: 100%;
}
.height100{
	height: 100%;
}
.load{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.8;
    background-image: url('../images/load.gif');
    background-position : center;
    background-repeat: no-repeat;
}
.hidden{
    display: none;
}