body.container{
    max-width: 1024px;
}
.upload .row{
    margin: 10px;
}
.center {
    text-align: center;
}
.elite-vert{
    background-image: url('../images/elite_vert.png');
    background-repeat: no-repeat;
    background-position: center;
}
.elite-bleu{
    background-image: url('../images/elite_bleu.png');
    background-repeat: no-repeat;
    background-position: center;
}
.elite-rouge{
    background-image: url('../images/elite_rouge.png');
    background-repeat: no-repeat;
    background-position: center;
}
.elite-jaune{
    background-image: url('../images/elite_jaune.png');
    background-repeat: no-repeat;
    background-position: center;
}